<script>
  import TestBindings from "../components/TestBindings.svelte";
  import Analysis from "../components/Analysis.svelte";
</script>

<style>
  :root {
    --main-color: #169497;
  }

  div {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 30px 0 0 0;
    place-items: center;
  }

  h1,
  img {
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 36px;
    font-weight: 200;
    margin: 20px 0 0;
  }

  img {
    display: block;
    height: 320px;
    margin: 0 auto;
    width: auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: xxx-large;
    }
  }
</style>

<svelte:head>
  <title>Sapper/Svelte project template for GitLab Pages</title>
</svelte:head>

<section class="projects">
  <h1>Fork probas !!</h1>
  <TestBindings />
  <Analysis />
</section>
