<script>
    let type = "now_fork_rates_depending_on_fork_length_delta_plus_star";
	let num_samples = 2001;
    let emmy = "EmmyStar";
	let te = 32;
	let delta = 0;
	let dp = 40;
	let de = 8;
	let f = 0.37;
	let target = 1e-8;
    let res = 1;

    import * as AnalysisWrapperA from "../analysisWrapperA";

    function analysis(type, num_samples, emmy, te, delta, dp, de, f, target) {
      console.log(dp);
	  AnalysisWrapperA.getProba(type, num_samples, emmy, te, delta, dp, de, f, target).then(r => {
	    res = r});
      console.log(res);
   }

</script>

<label>
	<input type=number bind:value={num_samples}>
</label>

<label>
	<input type=number bind:value={dp}>
</label>


<button on:click={() => analysis(type, num_samples, emmy, te, delta, dp, de, f, target)}>Compute fork length</button>
<p>{res}</p>