<style>
  figcaption {
    position: relative;
    top: -1px;
  }

  figure {
    display: flex;
    flex-flow: row;
    justify-content: center;
    place-items: center;
  }

  footer {
    background: white;
    font-weight: 200;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  img {
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }

  @media (min-width: 480px) {
    footer {
      font-size: 16px;
    }
  }
</style>

<footer>
  <figure>
    <img alt="Snacss.co Logo" src="snacss-80w.jpg" />
    <figcaption>
      made with ♥️ from the Team snacss !!!
    </figcaption>
  </figure>
</footer>
