<script>
	let a = 1;
	let b = 2;
    let res = 0;
    let res_a = 1;


    import { mymult } from "../test";

	function mult(a, b) {
	 console.log(b);
	 mymult(a, b).then(r => {
	  res = r});
	 console.log(res);
	}

</script>

<label>
	<input type=number bind:value={a} min=0 max=10>
	<input type=range bind:value={a} min=0 max=10>
</label>

<label>
	<input type=number bind:value={b} min=0 max=10>
	<input type=range bind:value={b} min=0 max=10>
</label>

<button on:click={() => mult(a,b)}>Multiply</button>
<p>{res}</p>
